html {
    background-color: rgb(251, 240, 252);
 }
 .boutique {
     text-align: center;
     background-color: rgb(233, 233, 233);
     font-style:italic;
     border: 2px solid #f3ebeb;
 border-radius: 10px;
 }
 
 .titulo-centralizado {
     padding-left: 20px;
 }
 
 .principal{
     background: rgb(233, 233, 233);
     padding: 30px;
 }
 
 .maculino {
     margin-right: 20px;
 }
 